name = "GlobalOptimization"
uuid = "25b58b08-a34a-4ec2-a22a-6e6adccd2f2d"
authors = ["Grant Hecht"]
version = "0.0.1-DEV"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Format = "1fa38f19-a742-5d3f-a2b9-30dd87b9d5f8"
FunctionWrappersWrappers = "77dc65aa-8811-40c2-897b-53d922fa7daf"
Infiltrator = "5903a43b-9cc3-4c30-8d17-598619ec4e9b"
LineSearches = "d3d80556-e9d4-5f37-9878-2ab0fcc64255"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Polyester = "f517fe37-dbe3-4b94-8317-1923a5111588"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
UnPack = "3a884ed6-31ef-47d7-9d2a-63182c4928ed"

[compat]
Distributions = "0.25.117"
Format = "1"
FunctionWrappersWrappers = "0.1.3"
StaticArrays = "1"
UnPack = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
